#!/bin/bash
set -eu

DATE=`date +'%F'`

SQL_DUMP_FILE="eyes_on_the_ties-$DATE.sql.gz"
WP_DUMP_FILE="eyes_on_the_ties_files-$DATE.tar.gz"

mysqldump -u {{ wordpress_db_user }} \
	  -p{{ wordpress_db_password }} \
	  -h {{ wordpress_db_host }} \
	  --single-transaction --quick \
	  --databases {{ wordpress_db_name }} | gzip > /tmp/$SQL_DUMP_FILE

aws s3 cp /tmp/$SQL_DUMP_FILE s3://{{ aws_s3_bucket }}/backups/wordpress/$SQL_DUMP_FILE

shred -u /tmp/$SQL_DUMP_FILE

tar czf /tmp/$WP_DUMP_FILE -C /var/www/ news

aws s3 cp /tmp/$WP_DUMP_FILE s3://{{ aws_s3_bucket }}/backups/wordpress/$WP_DUMP_FILE

shred -u /tmp/$WP_DUMP_FILE
