#!/bin/bash
set -e

DATE=`date +'%m%d%y'`

mysqldump -u {{ database_username }} -p{{ database_password}} -h {{ database_host }} --single-transaction --quick littlesis | gzip > ~/littlesis-backup-all-$DATE.sql.gz

aws s3 cp ~/littlesis-backup-all-$DATE.sql.gz s3://{{ aws_s3_bucket }}/backups/littlesis-backup-all-$DATE.sql.gz
