#!/bin/bash

sql="
SELECT table_name,
       round(((data_length + index_length) / 1024 / 1024), 2) SizeinMB
FROM information_schema.TABLES
WHERE table_schema = '{{ database_name }}'
ORDER BY SizeinMB desc
limit 20;
"

./mysql-query "$sql"
