#!/bin/bash
set -eu

DATE=`date +'%F'`

SQL_DUMP_FILE="wordpress-$DATE.sql.gz"
SQL_DUMP_FILE_PATH="/tmp/$SQL_DUMP_FILE"
WP_DUMP_FILE="wordpress-files-$DATE.tar.gz"
WP_DUMP_FILE_PATH="/tmp/$WP_DUMP_FILE"

mysqldump -u {{ wordpress_db_user }} \
	  -p{{ wordpress_db_password }} \
	  -h {{ database_host }} \
	  --single-transaction --quick \
	  --databases {{ wordpress_db_name }} | gzip > "$SQL_DUMP_FILE_PATH"

aws s3 cp "$SQL_DUMP_FILE_PATH" s3://{{ aws_s3_bucket }}/backups/wordpress/$SQL_DUMP_FILE

shred -u "$SQL_DUMP_FILE_PATH"

sudo tar czf "$WP_DUMP_FILE_PATH" -C /var/www/wordpress/wordpress/ .

aws s3 cp "$WP_DUMP_FILE_PATH" s3://{{ aws_s3_bucket }}/backups/wordpress/$WP_DUMP_FILE

shred -u "$WP_DUMP_FILE_PATH"
