upstream wordpress_php {
    server unix:{{ wordpress_fpm_socket }};
}

server {
    listen 80;
    server_name {{ news_server_name }};
    return 301 https://$host$request_uri;
}

server {
    listen 80;
    server_name {{ pai_server_name }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    ssl_certificate         /etc/nginx/certs/news_certificate.pem;
    ssl_certificate_key     /etc/nginx/certs/news_key.pem;
    
    server_name {{ news_server_name }};

    root /var/www/wordpress/wordpress;
    index index.php;

    access_log /var/log/nginx/wordpress.access.log;
    error_log /var/log/nginx/wordpress.error.log;
    
    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        include fastcgi.conf;
        fastcgi_intercept_errors on;
        fastcgi_pass wordpress_php;
    }

    location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
        expires 7d;
        log_not_found off;
    }

    location = /favicon.ico {
        log_not_found off;
        access_log off;
    }

    location = /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }
}


server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    ssl_certificate         /etc/nginx/certs/pai_certificate.pem;
    ssl_certificate_key     /etc/nginx/certs/pai_key.pem;
    
    server_name {{ pai_server_name }};

    root /var/www/wordpress/wordpress;
    index index.php;

    access_log /var/log/nginx/wordpress.access.log;
    error_log /var/log/nginx/wordpress.error.log;
    
    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        #NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
        include fastcgi.conf;
        fastcgi_intercept_errors on;
        fastcgi_pass wordpress_php;
    }

    location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
        expires 7d;
        log_not_found off;
    }

    location = /favicon.ico {
        log_not_found off;
        access_log off;
    }

    location = /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }

    # location = /xmlrpc.php {
    #    deny all;
    #    # access_log off;
    #    # log_not_found off;
    # }
}
