production:
  adapter: mysql2
  encoding: utf8
  database: {{ database_littlesis_name }}
  pool: {{ database_pool }}
  username: {{ database_littlesis_name }}
  password: {{ database_littlesis_password }}
  host: {{ database_host }}
  reconnect: true

development:
  adapter: mysql2
  encoding: utf8
  database: littlesis_development
  username: development
  password: password
  host: {{ database_host }}
  reconnect: true

test:
  adapter: mysql2
  encoding: utf8
  database: littlesis_test
  username: littlesis
  password: password
  socket: /var/run/mysqld/mysqld.sock

