defaults: &defaults
  aws_key: {{ aws_key }}
  aws_secret: {{ aws_secret }}
  aws_region: {{ aws_region }}
  aws_s3_base: {{ aws_s3_base }}
  aws_s3_bucket: {{ aws_s3_bucket }}
  admins_only: false
  netmap_api_key: {{ netmap_api_key }}
  netmap_default_width: 960
  netmap_default_height: 550
  google_site_verification: {{ google_site_verification }}
  google_analytics_id: {{ google_analytics_id }}
  default_image_file_type: jpg
  system_user_id: 1
  default_network_id: 79
  asset_host: {{ asset_host }}
  image_asset_host: {{ image_asset_host }}
  cloudfront_distribtion_id: {{ cloudfront_distribtion_id }}
  default_from_email: {{ default_from_email }}
  default_to_email: {{ notification_to }}
  smtp_address: {{ smtp_address }}
  smtp_port: {{ smtp_port }}
  smtp_domain: {{ smtp_domain }}
  smtp_user_name: {{ smtp_user_name }}
  smtp_password: {{ smtp_password }}
  smtp_authentication: {{ smtp_authentication }}
  notification_email: {{ notification_email }}
  notification_user_name: {{ notification_user_name }}
  notification_password: {{ notification_password }}
  notification_to: {{ notification_to }}
  carousel_list_id: {{ carousel_list_id }}
  restricted_ips:
{% for ip_addr in restricted_ips %}
    - {{ ip_addr }}
{% endfor %}
  recaptcha:
    site_key: {{ recaptcha_site_key }}
    secret_key: {{ recaptcha_secret_key }}
  action_network_api_key: {{ action_network_api_key }}
  redis_url: {{ redis_url }}
  donation_banner_display:  {{ donation_banner_display }}
  donation_banner_html: {{ donation_banner_html }}
  oligrapher_version: {{ oligrapher_version }}
  image_host: {{ image_host }}
  image_root: {{ image_root }}
  host: {{ littlesis_host }}
  protocol: {{ littlesis_protocol }}

test:
  <<: *defaults

development:
  <<: *defaults

production:
  <<: *defaults
