upstream app {
    server unix:/run/littlesis.sock;
}

server {
    include /etc/nginx/ssl.conf;
    # server_name littlesis.org www.littlesis.org;
    server_name {{ server_name }};

    root /var/www/littlesis/public;

    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;

    location / {
        proxy_pass http://app;
    }

    # Rate limit the api
    location /api {
        limit_req zone=api burst=2 nodelay;
        proxy_pass http://app;
    }

    # Rewrites and redirects #

    # Legacy donation recipient entity page urls that show up from time to time.
    location ~ ^/(org|person)/([0-9]+)/.+/recipients$ {
	rewrite ^/(org|person)/([0-9]+)/.+/recipients$ /entities/$2?relationships=donation_recipients last;
    }

    # http://littlesis.org/list/852/Top_Fortune_500_companies_in_NYC
    location ~ ^/list/([0-9]+)/(.+)$ {
        rewrite ^/list/([0-9]+)/(.+)$ /lists/$1 permanent;
    }

    # Rewrite relationship view page from legacy url
    location /relationship/view {
        rewrite ^/relationship/view/id/([0-9]+)$ /relationships/$1 last;
    }

    location /news {
        rewrite ^/news/(.*)$ https://news.littlesis.org/$1 redirect;
        access_log off;
    }

    ##
    # Static assets
    #

    # These two location blocks are exceptions to the general /images location,
    # that should be handled as a regular rails route.
    location ~ ^/images/[0-9]+/(crop|crop_remote|request_deletion) {
        proxy_pass http://app;
    }

    location ~ ^/images/(approve_deletion|deny_deletion|deletion_request)/(.+)$ {
        proxy_pass http://app;
    }

    # Images
    location /images {
        expires 6M;
        add_header Cache-Control "public";
        try_files $uri =404;
    }

    # Compiled Rails assets (via sprockets)
    location /assets {
        expires  max;
        add_header Cache-Control "public";
        try_files $uri =404;
    }

    # Compiled Rails assets (via webpack)
    location /packs/js {
        expires max;
        add_header Cache-Control "public";
        try_files $uri =404;
    }

    # System images are stored in the static folder
    location /images/system {
        root /var/www/static;
        expires 1y;
        add_header Cache-Control public;
        try_files $uri =404;
    }

    # /var/www/static/js/oligrapher contains complied versions of oligrapher (legacy)
    location /js {
        root /var/www/static;
        expires 7d;
        add_header Cache-Control public;
        try_files $uri =404;
    }

    # Compiled Oligrapher 3.0 Assets
    location ~ ^/oligrapher/oligrapher-.*\.js$ {
        expires 1h;
        add_header Cache-Control public;
        try_files $uri =404;
    }

    # /static is essentially a public folder.
    # You can place any arbitrary static file in /var/www/static to share it publicly.
    # The default root is the rails public/ folder which could also be used
    # for the same purpose, but static/ is often a better place to store
    # files that are not directly related to the rails app.
    location /static/ {
        root /var/www/;
        expires 2h;
        add_header Cache-Control "public";
        try_files $uri =404;
    }

    location = /MapThePowerZine.pdf {
        expires 6M;
        root /var/www/static;
        add_header Cache-Control "public";
        try_files $uri =404;
    }

    location = /favicon.ico {
        root /var/www/static;
        add_header Cache-Control "public";
        try_files $uri =404;
        expires 1M;
        access_log off;
    }

    location ~ /apple-touch-icon(.*)\.png {
        root /var/www/static;
        add_header Cache-Control "public";
        try_files $uri =404;
        expires 6M;
        access_log off;
        log_not_found off;
    }

    location = /robots.txt {
        expires 5d;
        add_header Cache-Control "public";
    }

    location = /api/robots.txt {
        return 301 $scheme://$http_host/robots.txt;
    }

    # Deny  #

    # list 79 is used as the U.S. network
    # and should not be accessible.
    location ~ ^/lists/79-?.*/members$ {
        return 404;
    }

    # odd /person/34... requests
    location ~ "^/person/[3]{1}[456789]{1}[0-9]{4}$" {
        return 403;
    }

    location ~* \.(php|xml|zip)$ {
        return 404;
    }

    location = /ads.txt {
        return 404;
        access_log off;
    }
}
