upstream app {
    server unix:/run/littlesis.sock;
}

server {
    include /etc/nginx/ssl.conf;
    # server_name littlesis.org www.littlesis.org;
    server_name {{ server_name }};

    root /var/www/littlesis/public;

    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;

    location / {
        proxy_pass http://app;
    }

    # rate limit the api
    location /api {
        limit_req zone=api burst=2 nodelay;
        proxy_pass http://app;
    }
    
    # Various rewrites and redirects #

    location ~ ^/(org|person)/([0-9]+)/.+/recipients$ {
	rewrite ^/(org|person)/([0-9]+)/.+/recipients$ /entities/$2?relationships=donation_recipients last;
    }

    # http://littlesis.org/list/852/Top_Fortune_500_companies_in_NYC
    location ~ ^/list/([0-9]+)/(.+)$ {
        rewrite ^/list/([0-9]+)/(.+)$ /lists/$1 permanent;
    }

    # rewrite relationship view page from legacy url
    location /relationship/view {
        rewrite ^/relationship/view/id/([0-9]+)$ /relationships/$1 last;
    }

    location /news {
        rewrite ^/news/(.*)$ https://news.littlesis.org/$1 redirect;
        access_log off;
    }

    # Sometimes requests intended for our asset server get sent here.
    # This redirects those requests.
    location ~ ^//?dfl6orqdcqt4f.cloudfront.net/(.*) {
        return 301 https://littlesis.org/$1;
    }

    ##
    # Static assets
    #

    # These two empty location blocks are expections to the general /images location
    # The routes that should be handled as a regular rails route
    location ~ ^/images/[0-9]+/(crop|crop_remote|request_deletion) {
        proxy_pass http://app;
    }

    location ~ ^/images/(approve_deletion|deny_deletion|deletion_request)/(.+)$ {
        proxy_pass http://app;
    }

    # Images
    location /images {
        expires 6M;
        add_header Cache-Control "public";
        try_files $uri =404;
    }

    location = /robots.txt {
        expires 5d;
        add_header Cache-Control "public";
    }
    
    # compiled Rails assets (via sprockets)
    location /assets {
        expires  max;
        add_header Cache-Control "public";
        try_files $uri =404;
    }
    # compiled Rails assets (via webpack)
    location /packs/js {
        expires  max;
        add_header Cache-Control "public";
        try_files $uri =404;
    }

    # system images are stored in the static folder
    location /images/system {
        root /var/www/static;
        expires 1y;
        add_header Cache-Control public;
        try_files $uri =404;
    }

    location /js {
        root /var/www/static;
        expires 7d;
        add_header Cache-Control public;
        try_files $uri =404;
    }

    location /static/ {
        root /var/www/;
        expires 2h;
        add_header Cache-Control "public";
        try_files $uri =404;
    }

    
    location ~ \.pdf {
        root /var/www/static;
        add_header Cache-Control "public";
        try_files $uri =404;
    }
    
    location = /favicon.ico {
      root /var/www/static;
      try_files $uri =404;
      expires 6M;
    }

    location ~ /apple-touch-icon(.*)\.png {
        root /var/www/static;
        add_header Cache-Control "public";
        try_files $uri =404;
        expires 6M;
        access_log off;
        log_not_found off;
    }

    # Deny  # 

    # list 79 is used as the U.S. network
    # and should not be accessible.
    location ~ ^/lists/79-?.*/members$ {
        return 404;
    }

    # odd /person/34... requests
    location ~ "^/person/[3]{1}[456789]{1}[0-9]{4}$" {
        return 403;
    }

    location ~ \.php$ {
        return 404;
        access_log off;
    }

    location = /ads.txt {
        return 404;
        access_log off;
    }

}
