server_tokens off;
passenger_show_version_in_header off;
passenger_max_pool_size {{ passenger_max_pool_size }};
passenger_max_requests {{ passenger_max_requests }};
passenger_min_instances {{ passenger_min_instances }};
