[digitalocean]
type = s3
provider = DigitalOcean
env_auth = false
access_key_id = {{ digitalocean_spaces_access_key_id }}
secret_access_key = {{ digitalocean_spaces_secret_access_key }}
endpoint = nyc3.digitaloceanspaces.com
acl = private

[aws]
type = s3
provider = AWS
env_auth = false
access_key_id = {{ aws_key }}
secret_access_key = {{ aws_secret }}
region = {{ aws_region }}
acl = private
