#!/bin/sh

if ! test $USER = root
then
    echo "rails-command must be run as root" >&2
    exit 1
fi

export RAILS_ENV=production
cd /var/www/littlesis
runuser --whitelist-environment=RAILS_ENV -u littlesis -- $@
